.vscode
*.code-workspace
*.png
climapower/modules/__pycache__
climapower/__pycache__
climapower/postprocessed_results
climapower/calibration_results
climapower/figures
climapower/climate_data
climapower/energy_data
climapower/geospatial_data
climapower/test_code
climapower/log_files
climapower/fix_1940.py
climapower/check_energy*
potentials
extract_data_for_Italy.py
get_resource_adequacy.py
modules/resource_adequacy.py
modules/resource_adequacy_utilities.py